{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Outfit Planner app {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Outfit Planner App</h1>
    </header>

    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="http://127.0.0.1:8000/clothes/">Clothes</a></li>
            <li><a href="http://127.0.0.1:8000/categories/">Close Styles</a></li>
            <li><a href="http://127.0.0.1:8000/aboutus/">About</a></li>
        </ul>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="{% url 'profile' %}">Profile</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Outfit Planner App. All rights reserved.</p>
    </footer>
</body>
</html>
